.LoginForm {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}

.LoginForm form {
  background-color: #fff;
  padding: 10px 20px 50px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.LoginForm img {
  display: block;
  margin: 0 auto 20px;
  max-width: 200px;
}

.LoginForm h1 {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

.LoginForm hr {
  margin: 15px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.LoginForm label {
  font-weight: 600;
  color: #444;
  display: block;
  margin-bottom: 5px;
}

.LoginForm input[type="email"],
.LoginForm input[type="password"],
.LoginForm input[type="text"] {
  width: 100%;
  padding: 10px 40px 10px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  transition: border 0.3s;
}

.LoginForm input:focus {
  border-color: #6a994e;
  outline: none;
}

.LoginForm form hr {
  width: 100%;
  margin: 20px 0;
}

.PasswordInputWrapper {
  position: relative;
}

.Open_eye,
.Close {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
  font-size: 20px;
}

.Open_eye:hover,
.Close:hover {
  color: #585858;
}

.LoginPage_Buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.LoginPage_Buttons button {
  flex: 1;
  padding: 10px;
  background-color: #ccc;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.LoginPage_Buttons button:hover {
  background-color: #bb9060;
  color: white;
}
