.NextPage {
    width: auto; 
    height: 99.7vh; 
    background-image: url('../Asset/tetx.jpeg');
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: contain; 
    background-color: #000000; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    border: 1px solid #000; 
}
